<div class="banner" style="background-image: linear-gradient(-90deg, #94E8DC, #98E896); height: 50vh;">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
  <%= link_to "Back to Cocktails List", cocktails_path, class: "btn-home" %>
</div>

<div class="container">
  <div class="cocktail-ingredients">
    <h2>Ingredients</h2>
    <% @cocktail.doses.each do |dose|%>
      <p>
        <%= dose.ingredient.name %>-<%= dose.description %>
        <%= link_to "(delete)", dose_path(dose),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </p>
    <% end %>
    <%= link_to "Add new ingredient/dose", new_cocktail_dose_path(@cocktail), class: "button-cta" %>
  </div>
</div>




