
<div class="create-container">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <div class="form-container">
          <h1>Add a New Dose</h1>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :description %>
            <%= f.association :ingredient %>
            <%= f.submit "Add New Ingredient/Dose Pair", class: "button-cta" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Back to Cocktails List", cocktails_path, class: "btn-home" %>
    </div>
  </div>
</div>
